html {
  width: 100%;
  height: 100%; }

body {
  counter-reset: increment; }

th, td {
  border: 1px solid black;
  text-align: center; }

#increment {
  counter-increment: increment; }
  #increment:before {
    content: counter(increment); }

h1#header {
  text-align: center; }

#books td:nth-child(2) {
  display: none; }
