@font-face {
  font-family: 'Open Sans Condensed', sans-serif;
  src: url("/fonts/OpenSansCondensed-Bold.ttf") format("ttf");
  src: url("/fonts/OpenSansCondensed-Light.ttf") format("ttf");
  src: url("/fonts/OpenSansCondensed-LightItalic.ttf") format("ttf"); }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

header {
  width: 100%;
  min-height: 230px;
  background-color: #dcdcdc; }

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.backcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
  font-weight: lighter;
  line-height: initial;
  color: #767676; }

#backcall span {
  padding-bottom: 5px;
  font-size: 28px;
  color: black;
  border-bottom: 1px dotted black; }

#backcall :hover {
  cursor: pointer;
  border-bottom: 3px solid black; }

nav {
  background-color: #777777;
  height: 80px;
  width: 100%; }

.menu {
  height: 100%;
  max-width: 980px;
  padding: 0 10px 0;
  margin: 0 auto; }
  .menu ul {
    height: 100%;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: hidden;
    padding-left: 0; }
    .menu ul li {
      list-style-type: none;
      font-size: 20pt;
      color: white;
      border-right: 1px solid white;
      padding-right: 30px;
      margin: auto 0 auto 30px; }
      .menu ul li:hover {
        text-decoration: underline;
        cursor: pointer; }
      .menu ul li:first-of-type {
        margin-left: 0; }
      .menu ul li:last-of-type {
        border-right: none; }

.popup {
  width: 400px;
  position: absolute;
  left: 40%;
  top: 40%;
  min-height: 600px;
  border: 3px solid red;
  background-color: white;
  z-index: 90;
  display: none; }
  .popup #popclose {
    z-index: 100;
    width: 100%;
    height: 20px;
    background-color: black;
    color: white; }
  .popup form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }

.slider {
  width: 100%;
  margin: 0 auto; }

.slidercontainer {
  max-width: 1248px;
  height: 462px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 1242px) {
    .slidercontainer {
      display: none; } }
  .slidercontainer img {
    position: absolute;
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }

@-webkit-keyframes slider {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slider {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

#img1 {
  width: 100%;
  height: 100%;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

#img2 {
  width: 100%;
  height: 100%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

main {
  max-width: 980px;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.aside {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .aside #aside1 {
    width: 184px;
    height: 390px; }
    .aside #aside1 ul {
      padding-left: 0; }
      .aside #aside1 ul li {
        margin-top: 10px;
        list-style-type: none; }
        .aside #aside1 ul li:nth-of-type(3) {
          list-style-type: disc;
          font-size: 12px;
          margin-left: 15px; }
        .aside #aside1 ul li:nth-of-type(4) {
          list-style-type: disc;
          font-size: 12px;
          margin-left: 15px; }
        .aside #aside1 ul li:nth-of-type(5) {
          list-style-type: disc;
          font-size: 12px;
          margin-left: 15px; }
        .aside #aside1 ul li:nth-of-type(6) {
          list-style-type: disc;
          font-size: 12px;
          margin-left: 15px; }
  .aside img {
    margin: 0 auto; }
  .aside span {
    margin: 0 auto;
    font-size: large;
    font-weight: bold; }

.rightside {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-left: 50px;
  margin-bottom: 10vh;
  padding-bottom: 40px;
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#content2 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0 20px 0; }
  #content2:nth-child(3n+1) {
    margin-left: 0; }
  #content2 .item {
    margin-left: 19px;
    margin-bottom: 10px;
    background-color: lightgray;
    width: 30%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #content2 .item img {
      margin: 5px 10px 5px 15px; }

.description {
  width: 80%;
  margin: 10px auto; }

.price {
  width: 80%;
  margin: 10px auto 0; }
  .price span {
    font-size: 25px;
    font-weight: bold; }
  .price img {
    float: right; }

.pager {
  margin: 0 auto;
  font-size: 25px; }
  .pager span {
    font-size: 35px; }

hr {
  width: 100%; }

#content3 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#content3_1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 15px;
  padding: 20px; }

#content3_2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 15px;
  padding: 20px; }

footer {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #777777;
  color: #d4d4d4; }

.cont {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.fcenter ul {
  margin-top: 0; }

.fcenter li {
  list-style-type: none;
  text-decoration: underline; }

.fright {
  width: 220px; }
  .fright img {
    float: left;
    margin-right: 10px; }
